html
    include includes/head.pug
    body
        include includes/header.pug
        h1 Shopping Cart
        ul#prodList
        button#order Order now
        include includes/foot.pug
    script(src ='scripts/cart.js')    