html
    include includes/head.pug
    body
        include includes/header.pug
        h1 Purchase History
        ul#prodList
        a(href='/profile') Return to profile
        include includes/foot.pug
    script(src ='scripts/history.js')    