doctype html
html
  include includes/head.pug
  body
    include includes/header.pug
    .imageContainer
      a(href = '/men')
        img(src = 'images/homepage.jpg')
      a.top-left#homepageHeader(href = '/men') Check out our collection for Men!
    //include includes/foot.pug