doctype html
html
  include includes/head.pug
  body
    include includes/header.pug
    .imageContainer
      a(href = '/')
        img(src = 'images/homepage.jpg')
      a.top-left#homepageHeader(href = '/') New Dress Shirts!
    //include includes/foot.pug