html
    include includes/head.pug
    body
        include includes/header.pug
        h1 Please log in or make a new account
        h3.hidden.error#errorMsg Username or password incorrect
        form(id = 'loginForm' action = '/login')
            .inputDiv
                input#email(name ='email' type = 'email' placeholder = 'EMAIL ADRESS' required)
            .inputDiv
                input#password(name = 'password' type = 'password' placeholder = 'PASSWORD' required)
            .inputDiv
                input(type = 'submit' value = 'Log in' onclick = 'login();return false')
        a#Register(href = '/register') Create Account
        include includes/foot.pug
    script(src="scripts/login.js")