html
    include includes/head.pug
    body
        h1= 'Please log in or make a new account'
        input#username(type = 'text' placeholder = 'Username')
        br
        input#password(type = 'text' placeholder = 'Password')
        br
        button#loginButton Log in
        a#Register(href = '/') Create Account