html
    include includes/head.pug
    body
        include includes/header.pug
        h1 Please log in or make a new account
        input#email(type = 'email' placeholder = 'EMAIL ADRESS')
        br
        input#password(type = 'password' placeholder = 'PASSWORD')
        br
        button#loginButton Log in
        a#Register(href = '/create') Create Account
        include includes/foot.pug
    script(src="scripts/login.js")