html
    include includes/head.pug
    body
        include includes/header.pug
        .contentContainer
            aside
                h3 Search Products
                input#searchBar(type = 'text' placeholder = 'Search products..')
                button#searchButton search
                br
                h3 Sorting:
                ul#sortList.filterList
                    li price range: 
                        select#range
                            option(value =0) 0-150€
                            option(value =1) 0-50€
                            option(value =2) 50-100€
                            option(value =3) 100-150€
                    li order by:
                        br
                        select#order
                            option(value='title') Title             
                            option(value='price') Price  
                h3 Categories:
                ul.filterList.ctgryList
                    each val in categories
                        li
                            input.category(name =val type = 'checkbox')
                            a.category(name =val href = 'javascript:void(0);')=val
                h3 Brands:
                ul.filterList.brandList
                    each val in brands
                        li
                            input.brand(name =val type = 'checkbox')
                            a.brand(name =val href = 'javascript:void(0);')=val
            #productsContainer
            button#showMore Load More

    script(src = 'scripts/selector.js')