html
    include includes/head.pug
    body
        include includes/header.pug
        h1 Account details and order history
        .customerInfo
            p First Name: 
                span#first_name #{first_name}
            p Last Name: 
                span#last_name #{last_name}
            p Username: 
                span#login #{login}
            p.email Email: 
                span#email #{email}
            p Password: Link here to change password
            a#history(href= '/history') History
        button#edit Edit Profile    
        button#logout Log out
        include includes/foot.pug
    script(src="scripts/profile.js")