html
    include includes/head.pug
    body
        include includes/header.pug
        h1 Account details and order history
        .customerInfo
            h3 Name
            p.email Email
            .adress
                p Street
                p City and Country
                p postal code
        button#logout Log out
        include includes/foot.pug
    script(src="scripts/profile.js")