html
    include includes/head.pug
    body
        include includes/header.pug
        h1 Create account
        input#email(type = 'email' placeholder = 'EMAIL ADRESS')
        br
        input#password(type = 'password' placeholder = 'PASSWORD')
        br
        button#createButton Create
        include includes/foot.pug