html
    include includes/head.pug
    script(src="scripts/register.js")
    body
        include includes/header.pug
        h1 Create account
        form(id = 'createForm' action = '/create')
            .inputDiv
                label(for = 'first_name') First Name
                br
                input#firstName(name = 'first_name' type = 'text' placeholder = 'FIRST NAME' required)
            .inputDiv
                label(for = 'last_name') Last Name
                br
                input#lastName(name = 'last_name' type = 'text' placeholder = 'LAST NAME' required)
            .inputDiv
                label(for = 'email') Email
                br
                input#email(name = 'email' type = 'email' placeholder = 'EMAIL ADRESS' required)
            .inputDiv
                label(for = 'username') Username
                br
                input#username(name = 'login' type = 'text' placeholder = 'USERNAME' required)
            .inputDiv
                label(for = 'password') Password
                br
                input#password(name = 'password' type = 'password' placeholder = 'PASSWORD' required)
            .inputDiv
                button#createButton Create
        include includes/foot.pug