nav
    ul
        li  
            a(href = '/') Category1
        li  
            a(href = '/') Category2
        li  
            a(href = '/') Category3
        li
            div#loginDiv
                img#profileButton(src = "images/profile.png")

script(src="scripts/header.js")