nav
    ul
        li.navHeaders
            #menDiv
                a#men(href = '/') Men
            #womenDiv
                a#women(href = '/') Women
    input(type = 'text' placeholder = 'Search')
    img#profileButton(src = "images/profile.png")


script(src="scripts/header.js")
