nav
    .navLeft
        img#homeButton(src = "images/home.png")
    .navHeaders
        a#men(href = '/men') Men
        a#women(href = '/women') Women
        a#accessories(href = 'accessories') Accessories
    .navRight    
        input#searchBar(type = 'text' placeholder = 'Search')
        img#profileButton(src = "images/profile.png")
        img#cartButton(src = "images/cart.png")


script(src="scripts/header.js")
